idna==3.18
boto3==1.43.24
iniconfig==2.3.0
jmespath==1.1.0
packaging==26.2
pluggy==1.6.0
psycopg2==2.9.12
pytest==9.1.0
python-dateutil==2.9.0.post0
requests==2.34.2
requests-mock==1.12.1
s3transfer==0.18.0
six==1.17.0
urllib3==2.7.0
